@{
    ViewBag.Title = "CreateTable";
}

<h2>Create Table Result</h2>

<p>
    The table named as @ViewBag.tableName is created.
    @(ViewBag.success == true ? "Successfully created." : "Not successfully created.")
</p>